
.header .navbar {
  height: 5vh;
  background-color: #202020;
}

.navbar-brand{
  color: #11dfab;
  margin-left: 5%;
}

.section__background {
  width: 100%;
  height: 95vh;
  background-color: #202020;
}

.background__assets {
  width: 100%;
  height: 95vh;
  position: absolute;
}

.background__assets--back {
  width: 100%;
  height: 100%;
  background-image: url('/src/img/background__assets--back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background__assets--circles {
  width: 100%;
  height: 100%;
  background-image: url('/src/img/background__assets--circles.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background__assets--img {
  width: 100%;
  height: 100%;
  background-image: url('/src/img/background__assets--img.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background__info {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 15%;
  left: 10%;
}

.background__info--h1 {
  color: #7BE495;
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}

.background__info--p {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-bottom: 2.3rem;
}

.background__info--button {
  margin: 0;
  background: rgb(50,157,156);
  background: linear-gradient(83deg, rgba(50,157,156,1) 0%, rgba(86,197,150,1) 100%);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
}

@media screen and (max-width:600px) {

  .info{
    display: block;
    margin-left: 3%;
  }

  .rounded{
    display: none;
  }
  
}