body{
  width: 100%;
  margin: 0;
  position: relative;
}

.header .navbar {
  height: 5vh;
  background-color: #202020;
}

.navbar-brand{
  color: #11dfab;
  margin-left: 5%;
}

.section__background {
  width: 100%;
  height: 95vh;
  background-color: #202020;
}

.background__assets {
  width: 100%;
  height: 95vh;
  position: absolute;
}

.background__assets--back {
  width: 100%;
  height: 100%;
  background-image: url('/src/img/background__assets--back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background__assets--circles {
  width: 100%;
  height: 100%;
  background-image: url('/src/img/background__assets--circles.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background__assets--img {
  width: 100%;
  height: 100%;
  background-image: url('/src/img/background__assets--img.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background__info {
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 15%;
  left: 10%;
}

.background__info--h1 {
  color: #7BE495;
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}

.background__info--p {
  color: #FFFFFF;
  font-size: 1.2rem;
  margin-bottom: 2.3rem;
}

.background__info--button {
  margin: 0;
  background: rgb(50,157,156);
  background: linear-gradient(83deg, rgba(50,157,156,1) 0%, rgba(86,197,150,1) 100%);
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  color: #FFFFFF;
  border: none;
  border-radius: 24px;
}

.section__background2{
  height: 100vh;
  background: linear-gradient(#202020, gray);
  color: white;
}

.section__background3{
  height: 100vh;
  background: linear-gradient(gray, white);
}

.contact{
  display: flex;
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
}

.redes{
  width: 70%;
  background: rgb(50,157,156);
  background: linear-gradient(83deg, rgba(50,157,156,1) 0%, rgba(86,197,150,1) 100%);
  height: 50%;
  margin-top: 4%;
  text-align: center;
}

.descrip-redes{
  margin: 8%;
}

.form{
  width: 100%;
  border: 1px black solid;
  padding: 5%;
  text-align: center;
}

.title{
  padding-top: 2%;
  text-align: center;
}

.descrip-form{
  padding-bottom: 5%;
}

.logos{
  display: flex;
  align-items: center;
}

.img{
  width: 60%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
}

.text{
  width: 100%;
}

.email{
  margin-top: 15%;
  margin-bottom: 15%;
}

.footer{
  margin-top: 10%;
  bottom: 0;
}

.content{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
}

.info-1{
  text-align: center;
  width: 80%;
}

.info-2{
  width: 80%;
  text-align: center;
}

.info-3{
  width: 80%;
  text-align: center;
  border: 1px black solid;
  padding-left: 0;
}

.info-title{
  color: #7BE495;
}

.span-info{
  color: black;
  font-size: larger;
  font-weight: bolder;
}

.img-info{
  margin: 0;
  width: 80%;
  height: 100%;
}

.rel{
  width: 100%;
}

@media screen and (max-width:780px) {

  .background__assets{
    margin: 0;
    top: 0;
    height: 95vh;
  }

  .section__background{
    width: 100%;
    height: 95vh;
  }

  .background__assets--img{
    display: none;
  }

  .background__info{
    padding: 5% 0%;
    width: 100%;
    top: 20%;
    left: 0;
    background-color: #202020;
    text-align: justify;
  }

  .background__info--h1 {
    color: #7BE495;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .background__info--p {
    color: #FFFFFF;
    font-size: 1.3rem;
    margin-bottom: 2.3rem;
    width: 80%;
    margin-left: 10%;
  }

  .boton-cot{
    display: flex;
    justify-content: center;
  }

  .background__assets--circles{
    background-position: 25% 75%;
  }

  .contact{
    display: block;
    width: 90%;
    margin-left: 5%;
  }

  .redes{
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .content{
    display: block;
    width: 70%;
    margin-left: 15%;
  }

  .info-1{
    margin-top: 5%;
  }

  .info-2{
    margin-top: 10%;
  }

  .info-3{
    margin-top: 10%;
  }
  
}