.bg{
  background-color: black;
  height: 100vh;
  width: 100%;
}

.header .navbar {
  background-color: transparent !important;
}

.navbar-brand{
  color: #11dfab;
  margin-left: 5%;
}

.info{
  padding-top: 5%;
  margin-left: 6%;
  display: flex;
}

.title{
  color: #11dfab;
}

.description{
  padding-top: 3%;
  color: white;
}

.button{
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 10% 50%;
  border-bottom-right-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.rounded{
  margin-left: 8%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #036d52;
}

.img{
  border-radius: 50%;
}