
@import './main';

.section-background {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightBlue;
    margin: auto;
    z-index: 1;

    @include Laptop {
        height: 22vh;
    }
}

.section-background__border {
    position: relative;
    z-index: 0;
    margin-top: -6rem;
    width: 100%;
    height: 30vh;
    border-radius: 0 0 50% 50%;
    background-color: $lightBlue;

    @include Laptop {
        display: none;
    }
}

.section-background__waves {
    display: none;

    @include Laptop {
        display: initial;
        position: relative;
        width: 100%;
        transform: scaleX(-1);
    }
}

.section-background__circles {
    display: none;

    @include Laptop {
        display: initial;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -6rem;
        opacity: 0.4;
    }
}

.section-background__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include Tablet {
        position: absolute;
        top: 2vh;
        width: 80%;
        height: fit-content;
        flex-direction: row;
        align-items: center;
        text-align: start;
        gap: 2rem;
    }

    .section-background__content-text {
        width: 80%;
        margin-right: 2rem;
        margin: 0 auto;

        .content-text__title {
            margin: 0 auto;
            margin-top: 2rem;
            color: $lightGreen;

            @include Tablet {
                margin: 0 auto;
            }
        }

        .content-text__p {
            margin: 0 auto;
            margin-top: 1rem;
            color: $white;

            @include Tablet {
                margin-top: 2rem;
            }
        }

        .content-text__btn {
            display: block;
            width: fit-content;
            margin: auto;
            margin-top: 2rem;
            text-decoration: none;
            font-size: 1rem;
            padding: 0.5rem 0.8rem;
            border-radius: 0.8rem;
            color: $white;
            background-color: $lightGreen;

            @include Tablet {
                margin: 0;
                margin-top: 2.5rem;
            }
        }

        @include Tablet {
            margin-top: 4rem;

            h1 {
                font-size: 1.85rem;
            }
    
            p {
                font-size: 1.15rem;
            }

            button {
                margin-left: 0;
            }
        }

        @include Laptop {
            width: 50%;
            margin-top: 0;
        }
    }

    .section-background__content-img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        img {
            display: block;
            max-width: 15rem;
            margin: 0 auto;
        }

        @include Smartphone {
            img {
                max-width: 16rem;
            }
        }

        @include Tablet  {
            img {
                max-width: 35rem;
                margin-top: 5rem;
            }
        }

        @include Laptop {
            img {
                margin-top: 0;
            }
        }
    }
}


