
@import './main';

.section-info {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.section-info__content-desc {
    width: 80%;
    margin: 2rem auto;

    h1 {
        font-size: 1.85rem;
    }

    p {

        margin: 1.5rem auto;
        text-align: justify;
    }

    img {
        margin: 0;
        border-radius: 0.5rem;
        box-shadow: 0 8px 6px;
    }
}

.separator {
    margin: 2rem auto;
}

.last {
    transform: scaleX(-1);
}