
@import './main';

.section-description {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;

    h1 {
        font-size: 1.85rem;
    }

    p {

        margin: 1.5rem auto;
        text-align: justify;
    }
}

.separator {
    margin: 0 auto;
}

.last {
    transform: scaleX(-1);
}