
@import './main';

.header {
    width: 100vw;
    height: 10vh;
    padding: 0.9rem;
    margin: auto;
    background-color: lighten($softGreen, 2);

    @include Tablet {
        
    }

    img {
        width: fit-content;
        height: 60%;
        margin: auto;
        display: flex;
    }

    .header__title {
        width: fit-content;
        font-size: 0.8rem;
        margin: auto;
        margin-top: 0.1rem;
        color: $blue;
    }
}